.address-trans-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.address-trans-top .address-trans {
    font-size: 16px;
    padding: 6px;
    width: 400px;
    border: 0px;
    border-radius: 5px;
}
.address-trans-top button {
    margin-top: 15px;
    width: 130px;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #111;
    color: white;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.address-trans-top button:hover {
    border-radius: 15px;
    background-color: white;
    color: black;
}

.bal {
    line-height: 20px;
    text-align: center;
}
.bal-more-info {
    word-break: break-all;
    margin-top: -10px;
    text-align: center;
}
.address-details {
    word-break: break-all;
}

@media only screen and (max-width: 430px) {
    .address-trans-top .address-trans {
        width: 90%;
    }
}